<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hospital</title>
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='adminlte.min.css')}}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  
</head>

<body> 
    <!-- Preloader
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="https://media.istockphoto.com/vectors/serving-vector-id1155908527?k=6&m=1155908527&s=612x612&w=0&h=GBAD9-a4MaSHgyaAfvgQfhk5ryBm88P_jrTg8mUscEk=" alt="logoFoodee" height="60" width="60">
    </div> -->


    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="http://127.0.0.1:5000/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">4</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="https://th.bing.com/th/id/OIP.5da1qEPViPSja-JZ82_ucgAAAA?pid=ImgDet&rs=1" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Michael
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I order to my freind...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 6 minutes Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="https://yt3.ggpht.com/a/AATXAJwKC5zHJxDKaH727DfzL9kkxgE3NkXz_K88OQ=s900-c-k-c0xffffffff-no-rj-mo" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Thats so delicios...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 10 minutes Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="https://i.pinimg.com/originals/9a/28/0f/9a280f4b3d81f4bed8adf45a599480b9.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    okky
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Can i order?.....</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 15 minutes Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="https://yt3.ggpht.com/a/AATXAJxHi0R1k6X74hVJexzaABSflNy6iCO0AqRFHA=s900-c-k-c0xffffffff-no-rj-mo" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Matthew
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I like your food...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 17 minutes Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 9 new messages
              <span class="float-right text-muted text-sm">5 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 orders  
              <span class="float-right text-muted text-sm">15 minutes </span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Sidebar -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4 bg-secondary">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="https://pbs.twimg.com/profile_images/434615320565673984/kTx_aLDu_400x400.png" alt="Foode" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class=" text-white fw-bold text-center">Global Hospital</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="https://cdn2.vectorstock.com/i/1000x1000/65/26/doctor-avatar-character-icon-vector-12866526.jpg" class="img-circle elevation-2" alt="User Image " >
            </div>
            <div class="info">
              <a href="#" class="d-block text-white fw-bold">Dr Agnes</a>
            </div>
          </div>


        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar bg-white " type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar bg-white">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item menu-open fw-bold bg-secondary">
              <a href="{{'dokter'}}" class="nav-link active">
                <i class="fas fa-home"></i>
                <p>
                  Dokter
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <li class="nav-item menu-open fw-bold bg-secondary">
                <a href="{{'kamar'}}" class="nav-link active">
                  <i class="fas fa-phone "></i>
                  <p>
                    Kamar
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <li class="nav-item menu-open fw-bold bg-secondary">
                  <a href="{{'obat'}}" class="nav-link active">
                    <i class="fas fa-phone "></i>
                    <p>
                      obat
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <li class="nav-item menu-open fw-bold bg-secondary">
                    <a href="{{'pasien'}}" class="nav-link active">
                      <i class="fas fa-phone "></i>
                      <p>
                        pasien
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                <li class="nav-item menu-open fw-bold bg-secondary">
                  <a href="{{'perawat'}}" class="nav-link active">
                    <i class="fas fa-bullhorn "></i>
                    <p>
                      Perawat
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <li class="nav-item menu-open fw-bold bg-secondary">
                    <a href="{{'rekammedis'}}" class="nav-link active">
                      <i class="fas fa-file "></i>
                      <p>
                        rekam medis
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                  
                  </a>
                </li>
              </ul>
            </li>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Global Hospital</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="file:///D:/Pemograman%20web/TugasPW1_HaryAlfajri_2107421013_TMJ3.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard </li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>Menu</h3>
    
          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion-"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        
        
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>Price</h3>
    
          <p></p>
        </div>
        <div class="icon">
          <i class="ion "></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning ">
        <div class="inner text-white">
          <h3>Costumer</h3>
    
          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion"></i>
        </div>
        <a href="#" class="small-box-footer text-white">More info <i class="fas fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>Table</h3>
    
          <p></p>
        </div>
        <div class="icon">
          <i class="ion"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="card">
      <div class="card-header border-transparent bg-secondary">
        <h3 class="card-title text-bold bg-secondary">Database</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>

    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
         
          <tr>
            <th>id_pasien</th>
            <th>tgl lahir</th>
            <th>nama pasien</th>
            <th>alamat</th>
            <th>jenis kelamin</th>
            <th>no telepon</th>
            <th>Aksi</th>
          </tr>

          {% for item in kalimat %}
          <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">Edit</button>
                <a class="btn btn-summary" href="delete/{{ item[0] }}">Hapus</a>
              </td>
          </tr>
          {% endfor %}
          </table>
      </div>
      <!-- /.table-responsive -->

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Tambah Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('insert')}}" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">id_pasien</label>
            <input type="text" name="id_pasien" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">tgl lahir</label>
            <input type="text"name="tgl lahir" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">nama pasien</label>
            <input type="text" name="nama pasien" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">no telepon</label>
            <input type="text" name="no telepon" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp">
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- ModalEdit -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('insert')}}" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="text" name="id_dokter" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nama</label>
            <input type="text"name="nama_dokter" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Spesialis</label>
            <input type="text" name="spesialis" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">notelp</label>
            <input type="text" name="telp" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">alamat</label>
            <input type="text" name="alamat" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp">
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
  
      

    <!-- ./col -->
    
    </div>

   
            
          </div>

          

        </div>
        </div>
      </div>
   
    </div>
    
  </div>
          
            <!-- right col -->
          </div>

          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="plugins/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="plugins/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="plugins/moment/moment.min.js"></script>
  <script src="plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="dist/js/pages/dashboard.js"></script>
</body>
</html>
